<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans" style="position: static;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="有赞,移动电商服务平台" />
    <meta name="description" content="" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="referrer" content="always" />
    <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico" />
    <title>购物车</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
  </head>

  <body class=" body-fixed-bottom">
    <div class="container" id="app" style="min-height: 581px;" v-if="cartList">
      <div class="content clearfix js-page-content">
        <div id="cart-container">
          <div>
            <!---->
            <!---->
            <!---->
            <div class="js-shop-list shop-list">
              <div
                class="block block-order block-cart"
                v-for="(storeItem, index) in cartList"
              >
                <div class="header">
                  <div class="select-group js-select-group">
                    <span
                      class="check"
                      :class="{checked: storeItem.editing ? storeItem.removeChecked : storeItem.normalChecked}"
                      @click="checkStore(storeItem)"
                    ></span>
                  </div>
                  <a class="shop-title"
                    ><i class="custom-store-img">店铺：</i
                    >{{ storeItem.shopTitle }}</a
                  >
                  <a
                    href="javascript:;"
                    data-type="cart"
                    class="j-edit-list pull-right c-blue font-size-12 edit-list"
                    @click="editStore(storeItem, index)"
                  >
                    {{ storeItem.editing ? '完成' : '编辑' }}
                  </a>
                </div>
                <!---->
                <div>
                  <ul class="js-list block block-list block-list-cart border-0">
                    <li
                      class="block-item block-item-cart"
                      v-for="goodItem in storeItem.goodsList"
                      :class="{editing: storeItem.editing}"
                    >
                      <div>
                        <div class="check-container">
                          <span
                            class="check"
                            :class="{checked: storeItem.editing ? goodItem.removeChecked : goodItem.normalChecked}"
                            @click="checkGood(storeItem, goodItem)"
                          ></span>
                        </div>
                        <div class="name-card clearfix">
                          <a
                            :href="'goods.html?id='+goodItem.id"
                            class="thumb js-goods-link"
                            ><img :src="goodItem.img" />
                            <!---->
                          </a>
                          <div class="detail">
                            <a
                              :href="'goods.html?id='+goodItem.id"
                              class="js-goods-link"
                              ><h3 class="title js-ellipsis">
                                <i>{{ goodItem.title }}</i>
                              </h3></a
                            >
                            <p class="sku ellipsis">
                              {{ goodItem.sku }}
                            </p>
                            <!-- 显示状态 -->
                            <div class="num" v-show="!storeItem.editing">
                              ×<span class="num-txt">{{
                                goodItem.number
                              }}</span>
                              <!---->
                            </div>
                            <!-- 编辑状态 -->
                            <div class="num" v-show="storeItem.editing">
                              <!---->
                              <div class="quantity">
                                <button
                                  type="button"
                                  class="minus"
                                  :class="{disabled: goodItem.number <= 1}"
                                ></button>
                                <input
                                  type="number"
                                  pattern="[0-9]*"
                                  class="txt"
                                  v-model.number="goodItem.number"
                                />
                                <button type="button" class="plus "></button>
                                <div
                                  class="response-area response-area-minus"
                                  @click="reduceGoods(goodItem, 1)"
                                ></div>
                                <div
                                  class="response-area response-area-plus"
                                  @click="addGoods(goodItem, 1)"
                                ></div>
                              </div>
                            </div>
                            <div class="price c-orange">
                              <span>{{ goodItem.price | currency }}</span>
                            </div>
                          </div>
                          <div class="error-box"></div>
                        </div>
                        <div class="delete-btn" @click="removeSingleGood(goodItem.id)">
                          <span>删除</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <div style="padding:0;" class="js-bottom-opts bottom-fix">
                <div class="go-shop-tip js-go-shop-tip c-orange font-size-12">
                  你需要分开结算每个店铺的商品哦~
                </div>
                <div class="bottom-cart clear-fix">
                  <div class="select-all" @click="allSelected = !allSelected">
                    <span class="check" :class="{checked: allSelected}"></span>
                    全选
                  </div>
                  <!-- 显示状态 -->
                  <div class="total-price" v-show="normalSelectedList.length">
                    合计：<span
                      class="js-total-price"
                      style="color: rgb(255, 102, 0);"
                      >{{ total | currency }}</span
                    >
                    <p class="c-gray-dark">不含运费</p>
                  </div>
                  <button
                    href="javascript:;"
                    class="js-go-pay btn btn-orange-dark font-size-14"
                    :disabled="!normalSelectedList.length"
                  >
                    结算 ({{ normalSelectedList.length }})
                  </button>
                  <!-- 编辑状态 -->
                  <button
                    href="javascript:;"
                    :disabled="!removeSelectedList.length"
                    class="j-delete-goods btn font-size-14 btn-red"
                    v-show="editStoreIndex !== -1"
                    @click="isShowModal = true"
                  >
                    删除
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="van-overlay" style="z-index: 2000;" v-show="isShowModal"></div>
          <div class="van-dialog" style="z-index: 2001;" v-show="isShowModal">
            <div class="van-dialog__content">
              <div class="van-dialog__message">确定删除该商品么？</div>
            </div>
            <div
              class="van-hairline--top van-dialog__footer van-dialog__footer--buttons"
            >
              <button
              @click="isShowModal = false"
                class="van-button van-button--default van-button--large van-dialog__cancel"
              >
                <span class="van-button__text">取消</span></button
              ><button
              @click="removeGoods"
                class="van-button van-button--default van-button--large van-dialog__confirm van-hairline--left"
              >
                <span class="van-button__text">确认</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
